/* Estilos actualizados para las habilidades técnicas */
.skill-item {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  max-width: 200px; /* Añadir esta línea para limitar el ancho */
  margin: 0 auto;   /* Centrar el contenido */
}

.skill-item img {
  transition: filter 0.3s;
}

.skill-item p {
  transition: text-shadow 0.3s;
}

/* Animación de hover para todos menos la imagen de Flask */
.skill-item:hover img:not(.dark-theme-img) {
  transform: scale(1.5);
  filter: drop-shadow(0 6px 12px rgba(0, 0, 0, 0.4));
}

.skill-item:hover p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.skill-item img {
  max-height: 60px;
  width: auto;
  margin-bottom: 10px;
}

.skill-item p {
  margin: 0;
  font-weight: 500;
}

.dark-theme-img {
  filter: invert(100%);
  transition: filter 0.3s, transform 0.3s;
}

.dark-theme-img:hover {
  transform: scale(1.5);
  filter: invert(100%); /* Mantén el filtro invertido para que siga siendo blanca */
}

[data-bs-theme="light"] .dark-theme-img {
  filter: invert(0);
}

.service-card {
  width: 18rem;
}